<div style="font-family: Arial, Helvetica, sans-serif;">
    <div style="display: flex;padding-top: 20px">
        <div><strong>Course:</strong> Programming for Data Science</div>
    </div>
    <div style="display: flex;padding-top: 20px">
        <div style="padding-right: 10px;"><strong>Class:</strong> 22KHDL</div>
        <div></div>
    </div>
    <div style="display: flex;padding-top: 20px">
        <div style="padding-right: 10px;"><strong>Group:</strong></div>
    </div>
    <div>
        <div style="display: flex;padding-top: 20px">
            <div style="padding-right: 10px;"><strong>Members:</strong></div>
            <div></div>
        </div>
        <table style="font-size: 15px; display:flex;padding-top: 20px">
            <tr>
                <th>No.</th>
                <th>Student ID</th>
                <th>Name</th>
            </tr>
            <tr>
                <td>1</td>
                <td> 22127008 </td>
                <td style="text-align:left;">Đặng Châu Anh</td>
            </tr>
            <tr>
                <td>2</td>
                <td>22127014</td>
                <td style="text-align:left;">Nguyễn Kim Anh</td>
            </tr>
            <tr>
                <td>3</td>
                <td> 22127170 </td>
                <td style="text-align:left;">Trần Dịu Huyền</td>
            </tr>
        </table>
    </div>
    <div style="font-size: 25px ;font-weight: 800; text-align: center;padding-top: 20px;">FINAL PROJECT</div>
    <div style="font-size: 20px ;font-weight: 800; text-align: center;padding-top: 20px;">COVID - 19 ANALYSIS - DATA EXPLORATION</div>
    <div style="font-size: 18px ;font-weight: 800; text-align: center;padding-top: 20px;">for country_wise_lastest dataset</div>
</div>

# **Table of Contents**

1. [**Import libraries**](#import)

2. [**Load data**](#load)
    - [Number of rows and columns](#rows-columns)
    - [For worldometer_data](#worldometer)
    - [For country_wise_latest](#country-wise)
    - [For covid_19_clean_complete](#covid-complete)

3. [**Handling missing values**](#missing-values)
    - [For worldometer_data](#missing-worldometer)
    - [For country_wise_latest](#missing-country-wise)
    - [For covid_19_clean_complete](#missing-covid-complete)

4. [**Handling duplicated values in the dataset**](#duplicates)
    - [For worldometer_data](#duplicates-worldometer)
    - [For country_wise_latest](#duplicates-country-wise)
    - [For covid_19_clean_complete](#duplicates-covid-complete)

5. [**Exploratory Data Analysis (EDA)**](#eda)
    - [covid_19_clean_complete](#eda-covid-complete)

6. [**Save the cleaned data**](#save-data)

- import libs
- load data
- number of rows and columns
- meaning of each row
- missing value
- duplicated rows
- meaning of each column
- data types of each column
- handling for numerical column (include its distributions)
- handling for categorical column (include its distributions)

- import libs
- load data
- ``
- ``
- ``

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

---
Read the data from the file `country_wise_lastest.csv`

In [2]:
country_wise_lastest = pd.read_csv(r"./data/country_wise_latest.csv")
country_wise_lastest

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

<a id="rows-columns"></a>
## **Number of rows and columns**

<a id="country-wise"></a>
### For `country_wise_lastest`
#### Number of rows and columns
Number of rows and columns in the dataset `country_wise_lastest` will stored in the variables `country_wise_lastest_rows` and `country_wise_lastest_cols` respectively.

In [3]:
country_wise_lastest_rows, country_wise_lastest_cols = country_wise_lastest.shape
print(country_wise_lastest_cols)
print(country_wise_lastest_rows)

15
187

#### Column details

In [4]:
country_wise_lastest.columns

Index(['Country/Region', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'New cases', 'New deaths', 'New recovered', 'Deaths / 100 Cases',
       'Recovered / 100 Cases', 'Deaths / 100 Recovered',
       'Confirmed last week', '1 week change', '1 week % increase',
       'WHO Region'],
      dtype='object')

**The meaning of each row in `country_wise_lastest`**

|_Column Name_ | _Description_ |
| :---: | :---: |
| `Country/Region` | The name of the country or region where cases were reported |
| `Confirmed` | The total number of confirmed cases |
| `Deaths` | The total number of deaths attributed to COVID-19 in the country/region |
| `Recovered` | The total number of people who have recovered from COVID-19 in the country/region |
| `Active` | The total number of currently active cases in the country/region` |
| `New cases` | The total number of new confirmed cases reported in the last 24 hours or a defined period |
| `New deaths` | The total number of new deaths reported in the last 24 hours or a defined period |
| `New recovered` | The total number of people who have recovered from COVID-19 in the last 24 hours or a defined period |
| `Deaths / 100 Cases` | The proportion of the death rate of cases |
| `Recovered / 100 Cases` | The proportion of the recovery rate of cases |
| `Deaths / 100 Recovered` | The death rate relative to the number of people who have recovered from COVID-19s |
| `Confirmed last week` | The total number of confirmed cases reported in during the previous week |
| `1 week change` | The absolute change in the number of confirmed cases over the past week |
| `1 week % increase` | The percentage change in the number of confirmed cases over the past week |
| `WHO Region` | WHO Region in which the country/region is located|

#### Datatype of each columns

In [5]:
country_wise_lastest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country/Region          187 non-null    object
 1   Confirmed               187 non-null    int64
 2   Deaths                  187 non-null    int64
 3   Recovered               187 non-null    int64
 4   Active                  187 non-null    int64
 5   New cases               187 non-null    int64
 6   New deaths              187 non-null    int64
 7   New recovered           187 non-null    int64
 8   Deaths / 100 Cases      187 non-null    float64
 9   Recovered / 100 Cases   187 non-null    float64
 10  Deaths / 100 Recovered  187 non-null    float64
 11  Confirmed last week     187 non-null    int64
 12  1 week change           187 non-null    int64
 13  1 week % increase       187 non-null    float64
 14  WHO Region              187 non-null    object
dtypes: float64(4), int64(9), object(2)
memory usage: 22.0+ KB

The data types (int64, float64, and object) are appropriate for the types of values stored in each column.

<a id="missing-values"></a>
## **Handling missing values**

<a id="missing-country-wise"></a>
### For `country_wise_lastest`

- Calculating the total number and percentage of missing values in each column of the `country_wise_latest`.

In [6]:
print(country_wise_lastest.isnull().sum())
print(round((country_wise_lastest.isnull().sum() / country_wise_lastest.shape[0]) * 100, 2).astype(str) + ' %')

Country/Region            0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
New cases                 0
New deaths                0
New recovered             0
Deaths / 100 Cases        0
Recovered / 100 Cases     0
Deaths / 100 Recovered    0
Confirmed last week       0
1 week change             0
1 week % increase         0
WHO Region                0
dtype: int64
Country/Region            0.0 %
Confirmed                 0.0 %
Deaths                    0.0 %
Recovered                 0.0 %
Active                    0.0 %
New cases                 0.0 %
New deaths                0.0 %
New recovered             0.0 %
Deaths / 100 Cases        0.0 %
Recovered / 100 Cases     0.0 %
Deaths / 100 Recovered    0.0 %
Confirmed last week       0.0 %
1 week change             0.0 %
1 week % increase         0.0 %
WHO Region                0.0 %
dtype: object

It's clearly seen that there has no missing data in this dataset.

We suspect that the attributes `Deaths / 100 Cases`, `Recovered / 100 Cases`, `Deaths / 100 Recovered` will have infinite values ​​because they can record zero values  (0) ​​in the denominator.

Let create a function detected_missing_values to test the above doubts:

In [7]:
def detect_missing_values(dataframe):
    missing_data = {}
    for column in dataframe.columns:
        numeric_column = pd.to_numeric(dataframe[column], errors='coerce')
        
        missing_types = []
        
        # NaN/None values
        nan_count = dataframe[column].isna().sum()
        
        # Numeric infinite values (after conversion)
        try:
            numeric_inf_count = np.isinf(numeric_column).sum()
        except TypeError:
            numeric_inf_count = 0
        
        # Zeros or empty strings
        zero_count = (dataframe[column] == 0).sum()
        empty_string_count = (dataframe[column] == '').sum()
        
        if nan_count > 0:
            missing_types.append(f"NaN/None: {nan_count}")
        if numeric_inf_count > 0:
            missing_types.append(f"Numeric Infinite: {numeric_inf_count}")
        if zero_count > 0:
            missing_types.append(f"Zero values: {zero_count}")
        if empty_string_count > 0:
            missing_types.append(f"Empty Strings: {empty_string_count}")

        if missing_types:
            missing_data[column] = missing_types
    
    return missing_data

In [8]:
missing_vals = detect_missing_values(country_wise_lastest)

print("Detailed Missing Value Information:")
for column, missing_types in missing_vals.items():
    print(f"{column}: {missing_types}")

Detailed Missing Value Information:
Deaths: ['Zero values: 17']
Recovered: ['Zero values: 6']
Active: ['Zero values: 5']
New cases: ['Zero values: 33']
New deaths: ['Zero values: 91']
New recovered: ['Zero values: 61']
Deaths / 100 Cases: ['Zero values: 17']
Recovered / 100 Cases: ['Zero values: 6']
Deaths / 100 Recovered: ['Numeric Infinite: 5', 'Zero values: 17']
1 week change: ['Zero values: 12']
1 week % increase: ['Zero values: 12']

Notice that there are some `0` and `inf` values ​​in those attributes.

Considering that we can calculate ourselves based on the previous attributes, namely `Confirmed`, `Deaths`, `Recovered`, `Active`. Thus, the efficent way to handle this error í  deleting the those columns (`Deaths / 100 Cases`, `Recovered / 100 Cases`, `Deaths / 100 Recovered`).

In [9]:
country_wise_lastest = country_wise_lastest.drop(columns=['Deaths / 100 Cases', 'Recovered / 100 Cases', 'Deaths / 100 Recovered'], axis=0)
country_wise_lastest

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1713,991,57.85,Africa

In [10]:
missing_vals = detect_missing_values(country_wise_lastest)

print("Detailed Missing Value Information:")
for column, missing_types in missing_vals.items():
    print(f"{column}: {missing_types}")

Detailed Missing Value Information:
Deaths: ['Zero values: 17']
Recovered: ['Zero values: 6']
Active: ['Zero values: 5']
New cases: ['Zero values: 33']
New deaths: ['Zero values: 91']
New recovered: ['Zero values: 61']
1 week change: ['Zero values: 12']
1 week % increase: ['Zero values: 12']

There has no numeric infinite. So the `country_wise_lastest` dataset may be reasonable!

<a id="duplicates"></a>
## **Handling duplicated values in the dataset**

<a id="duplicates-country-wise"></a>
### For `country_wise_lastest`
To identify any duplicate records by calculating the total number of duplicated rows in the `country_wise_latest`

In [12]:
country_wise_lastest.duplicated().sum()

0

Thus, there is no duplicated row in the dataset `country_wise_latest`.

#### Quality check for `country_wise_lastesst`

In [11]:
def check_confirmed(df: pd.DataFrame) -> bool:
    corrected_confirmed_col = (df['Confirmed'] == df['Deaths'] + df['Recovered'] + df['Active']).all()
    return corrected_confirmed_col

check_confirmed(country_wise_lastest)

True

<a id="save-data"></a>
## **Save the cleaned data**
Save the cleaned data in `cleaned_data` folder for further analysis.

In [13]:
country_wise_lastest.to_csv(r"cleaned_data/abc_cleaned.csv", index=False)